<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Suraj</title>
	<link rel="stylesheet" href="static/style.css">
	<link rel="icon" href="static/favicon.ico">
</head>
<body>
	<div id="p_div">
		<table>
			<tr>
				<td>
					<hr id="left">
				</td>
				<td>
					<img id="profile" src="https://instagram.fdel18-1.fna.fbcdn.net/v/t51.2885-19/s150x150/83226609_487697888826256_2773639285042053120_n.jpg?tp=1&_nc_ht=instagram.fdel18-1.fna.fbcdn.net&_nc_ohc=NecwJF6dPYsAX_0oz1T&ccb=7-4&oh=ddb9143e14b63f8d567c002398cb8fbc&oe=60822533" width=125>
				</td>
				<td>
					<hr id="right">
				</td>
			</tr>
		</table>
		<div style="padding: 20px;">
			<h1 style="text-align: center;"><em>Suraj Gupta</em></h1>
			<p style="text-align: center;font-size: 20px;">Python Developer &<br>Full Stack Web Developer</p>
		</div>
		<table id="table2" cellpadding="40">
			<tr>
				<td>
					<a href="https://www.instagram.com/vastavik_insaan/" target="#">
						<img src="static/instagram.png" width="50">
					</a>
				</td>
				<td>
					<a href="https://twitter.com/Vastavik_insaan" target="#">
						<img src="static/twitter.png" width="50">
					</a>
				</td>
				<td>
					<a href="https://www.facebook.com/Vastavikinsaan" target="#">
						<img src="static/facebook.png" width="50">
					</a>
				</td>
			</tr>
		</table>
	</div>
</body>
<footer>
	<p style="padding-top: 15px;">
		&copy; Suraj Gupta | <a href="https://github.com/MrXisOnline" target="#">
			<img src="static/github.png" width="25">
		</a>
	</p>
</footer>
</html>