<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Home</title>
</head>
<body>
	<header class="masthead" style="background-image: url('static/head-img.jpg'); height: 300px;">
	  <div class="overlay"></div>
	    <div class="container">
	      <div class="row">
	        <div class="col-lg-8 col-md-10 mx-auto">
	          <div class="site-heading" style="text-align:center; padding-top: 100px">
	            <h1>Dictionary</h1>
	            <span class="subheading">search everyday keeps the schools away.</span>
	          </div>
	        </div>
	      </div>
	   </div>
	</header>
	{% if first %}
		{% if error %}
		<div class="mec">
			<h1 class="h1-text">Couldn't find Anythiny about {{ word }}</h1>
		</div>
		{% else %}
		<div class="mec">
			<h1 class="h1-text">Details About {{ send["word"] }}...</h1>
			<h5>Type : {{ send["type"] }}</h5>
			<h5>Defination : {{ send["define"] }}</h5>
			<h5>Example : {{ send["ex"] }}</h5>
		</div>
		{% endif %}
	{% else %}
	<div class="mec">
		<h1 class="h1-text">Search What you want...</h1>
		<form action="/" method="post">
			<input type="text" class="form-control" placeholder="Enter The Word" name="word">
			<button type="submit" class="submit btn btn-primary">Submit</button>
		</form>
	</div>
	{% endif %}
</body>
</html>