{% include "header.html" %}

<header class="masthead" style="background-image: url('static/check.jpg'); height: 300px;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading" style="text-align:center; padding-top: 100px">
            <h1>To-Do List</h1>
            <span class="subheading">set a list of work and get organized.</span>
          </div>
        </div>
      </div>
    </div>
 </header>
 <div class="container index-con">
    <div class="row">
      <div class="col-6">
        <img src="static/ex-img.png" height="400" width="500">
      </div>
      <div class="col-6">
        <h1>This is how we do it...</h1>
        <p>
          try now or i will steal your cookies<br>
          some random shit about this <br>
          some more <br>
          and some more shit<br>
          thank you after many many shits
        </p>
      </div>
    </div>
 </div>
{% include "footer.html" %}
