{% extends "bootstrap/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
        <div class="container">
		<h1>Login</h1>
        <!-- This is where our form will go. -->
			<form method="POST" action="/login">
				{{ form.csrf_token }}
				{{ form.mail.label }}
				{{ form.mail(size=30) }}
				{% for err in form.mail.errors %}
				<span style="color:red;">{{ err }}</span>
				{% endfor %}
				<br>
				{{ form.passwd.label }}
				{{ form.passwd(size=30) }}
				{% for err in form.passwd.errors %}
				<span style="color:red;">{{ err }}</span>
				{% endfor %}
				<br>
				{{ form.sub }}
			</form>
        </div>
{% endblock %}